.reset-password-modal {
  padding: 16px;
}

.reset-password-modal__image {
  max-height: 415px;
}

.reset-password-modal__header {
  display: flex;
  align-items: center;
}

.reset-password-modal__header img {
  margin-right: 8px;
}

.reset-password-modal__form {
  margin-top: 24px;
}

.reset-password-modal__footer {
  text-align: center;
}