#root {
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: black;
}

/* FONT FACES */
@font-face {
  font-family: "BarlowBold";
  src: local("BarlowBold"), url("./Fonts/Barlow/Barlow-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "BarlowRegular";
  src: local("BarlowRegular"),
    url("./Fonts/Barlow/Barlow-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "AntonRegular";
  src: local("AntonRegular"),
    url("./Fonts/Anton/Anton-Regular.ttf") format("ttf");
}

html {
  --section-background-color: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.582),
    rgba(12, 8, 24, 0.904)
  );

  --image-gradient: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.678),
    rgba(12, 10, 22, 0.863)
  );

  --imp-text-color: #c770f0;
}

.purple {
  color: var(--imp-text-color) !important;
}

button:focus {
  box-shadow: none !important;
}

/* ------------- RUTINAS ------------- */

.rutinas-titulo {
  background-color: #f87b15;
  padding: 10px;
  text-align: center;
}

.rutinas-titulo h2 {
  color: black;
  font-family: "BarlowBold", BarlowBold;
  font-size: 40px;
  text-align: center;
}
.rutinas-titulo h3 {
  font-family: "AntonRegular", AntonRegular;
  font-size: 20px;
  color: black;
  text-align: center;
}

.rutinas-button {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 30%;
  transform: translate(-50%, -50%);
  background-color: #f87b15;
  color: white;
  border-radius: 20% 0%;
  padding: 10px 20px;
  font-size: 25px;
  height: 10%;
  font-family: "AntonRegular", AntonRegular;
}
.rutinas-button:hover {
  background-color: white;
  color: black;
}

.custom-video {
  width: 100%;
  max-height: 1000px;
}

/* -------------- Categorias ------------ */
.opciones {
  font-size: 2.25rem;
  font-weight: 700;
}
.categoria {
  background-color: black;
}
.categoria h1 {
  color: #f87b15;
  padding: 10px;
  text-align: center;
  font-family: "AntonRegular", AntonRegular;
}
.categoria h3 {
  padding-right: 10px;
  width: 55%;
  margin: 0 auto;
  text-align: center;
  font-family: "AntonRegular", AntonRegular;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.1s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
