#root {
  width: 100%;
  margin: auto;
  height: 100vh;
  text-align: center;
  height: max-content;
}

html.light {
  background-color: rgb(255, 255, 255);
  color: black !important;
}

html.dark {
  background-color: rgb(0, 0, 0);
  color: white !important;
}

/* FONT FACES */
@font-face {
  font-family: "BebasNeueCyrillic";
  src:
    local("BebasNeueCyrillic"),
    url("./Fonts/BebasNeueCyrillic/Bebas-Neue-Cyrillic.ttf") format("ttf");
}
@font-face {
  font-family: "NeueMachina";
  src:
    local("NeueMachina"),
    url("./Fonts/NeueMachina/NeueMachina.otf") format("otf");
}
@font-face {
  font-family: "BarlowBold";
  src:
    local("BarlowBold"),
    url("./Fonts/Barlow/Barlow-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "BarlowRegular";
  src:
    local("BarlowRegular"),
    url("./Fonts/Barlow/Barlow-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "AntonRegular";
  src:
    local("AntonRegular"),
    url("./Fonts/Anton/Anton-Regular.ttf") format("ttf");
}

html {
  --section-background-color: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.582),
    rgba(12, 8, 24, 0.904)
  );

  --image-gradient: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.678),
    rgba(12, 10, 22, 0.863)
  );

  --imp-text-color: #c770f0;
}

.purple {
  color: var(--imp-text-color) !important;
}

button:focus {
  box-shadow: none !important;
}

.shadow-custom {
  text-shadow: 5px 5px 7px rgba(255, 99, 71, 0.6);
}
.shadow-custom1 {
  text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.6);
}

.pin {
  position: relative;
}

.pin-icon {
  color: red; /* Color del ícono de ubicación */
  font-size: 24px; /* Tamaño del ícono */
}

.pin-text {
  position: absolute;
  top: 30px; /* Ajusta la posición vertical del texto */
  left: -50px; /* Ajusta la posición horizontal del texto */
  width: 100px; /* Ancho del contenedor del texto */
  text-align: center; /* Centra el texto dentro del contenedor */
}

/* ------------- RUTINAS ------------- */

.rutinas-titulo {
  background-color: #ff914d;
  padding: 10px;
  text-align: center;
}

.rutinas-titulo h2 {
  color: black;
  font-size: 40px;
  text-align: center;
}
.rutinas-titulo h3 {
  font-family: "AntonRegular", AntonRegular;
  font-size: 20px;
  color: black;
  text-align: center;
}

.rutinas-button {
  position: absolute;
  top: 55%;
  left: 50%;
  width: 30%;
  transform: translate(-50%, -50%);
  background-color: #f87b15;
  color: white;
  border-radius: 20% 0%;
  padding: 10px 20px;
  font-size: 25px;
  height: 10%;
  font-family: "AntonRegular", AntonRegular;
}
.rutinas-button:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  transform: translate(-50%, -50%) scale(1.1);
  transition: 0.4s ease-in-out;
}

.custom-video {
  width: 100%;
  max-height: 1200px;
}

/* -------------- Categorias ------------ */
.opciones {
  font-size: 2.25rem;
  font-weight: 700;
}

.categoria h1 {
  color: #ff914d;
  padding: 10px;
  text-align: center;
}
.categoria h3 {
  padding-right: 10px;
  width: 55%;
  margin: 0 auto;
  text-align: center;
  font-family: "AntonRegular", AntonRegular;
}

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.1s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

/*------------Login -------------*/

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: rgba(24, 24, 24, 0.795);
  z-index: 1200;
  display: none;
}

.overlay.open {
  display: block;
}

.menu-toggle-landing {
  z-index: 1202;
  border-bottom: none;
  cursor: pointer;
}

.create-landing {
  font-family: "futuraStd";
  margin-top: 30px;
  font-size: 20px;
  margin-bottom: 20px !important;
  letter-spacing: 3px;
}

/* TOGGLE MENU LANDING */
.toggleMenuLanding {
  position: fixed !important;
  top: 0;
  right: 0;
  width: 530px;
  height: 100vh;
  background-color: #f5f5f562;
  box-shadow: 8px 0 10px -6px rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(5px);
  z-index: 1201;
  text-align: center;
  transition: transform 0.5s ease-out;
  transform: translateX(+100%);
}
.toggleMenuLanding.open {
  transform: translateX(0);
}
/* -------------- Register -------------- */
.card-login {
  width: 530px;
  background: #ffffff8c;
  backdrop-filter: blur(5px);
  color: rgb(80, 80, 80);
  font-weight: 100 !important;

  letter-spacing: 2px;
}

.row {
  height: 80px;
}

.form-outline {
  position: relative;
}

.form-control {
  border: none;
  margin-top: 10px;
  margin: 2px;
  border-radius: 6px;
  padding: 7px;
  background-color: #e0e0e0;
  box-shadow:
    4px 4px 10px #c0c0c0,
    -2px -2px 5px #c5c5c5;
  font-size: 13px;
  color: rgb(117, 117, 117);
  letter-spacing: 1.5px;
  font-weight: 300;
}
input.form-control:focus {
  background-color: #eeeeeebb;
  color: #535353;
  border: 3px solid rgba(241, 241, 241, 0.822);
  outline: none !important;
  box-shadow: none;
}

.form-label {
  font-size: 14px;
  margin-top: 4px;
  color: rgb(82, 82, 82);
  font-weight: 200 !important;
}

.password-icon {
  position: absolute;
  right: 10px;
  top: 25%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.5rem;
  color: #555;
}
.container-btn {
  gap: 30px;
  margin-bottom: 20px;
}

.btn-landing {
  background: rgb(247, 85, 185);
  color: white;
  border: none;
  width: 200px;
  height: 35px;
  border-radius: 7px;
}

.btn-landing.btn-lan {
  background: rgb(145, 143, 143);
}

.boxLog {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 5px;
  background: transparent;
}

.container-login {
  background: transparent;
  border: none;
  width: 100px;
  height: 100px;
}

.google {
  cursor: pointer;
  transition: all 0.6s ease;
  z-index: 1001;
  justify-content: center;
}

.google:hover {
  scale: 1.1;
}

.imgGoogle {
  width: 100%;
}

.loginGoogle {
  background: transparent;
}

.gradiente1 {
  background-image: linear-gradient(to right, black, black, #ff914d);
}

.gradiente2 {
  background-image: linear-gradient(
    to right,
    rgb(255, 253, 253),
    rgb(255, 255, 255),
    #ff914d
  );
}

.bg-navbar {
  background-color: #000000; /* Color de fondo oscuro */
}

.bg-white {
  background-color: #fff; /* Color de fondo claro */
}

.ctm-color1 {
  color: #000000;
}

.ctm-color2 {
  color: #ffffff;
}

#themeToggle {
  text-decoration: none;
}

#themeToggle:hover {
  text-decoration: none;
  border: none;
}

.black-sedes {
  background-color: #0c0c0c;
  color: #ffffff;
}

.white-sedes {
  background-color: #f1f1f1;
  color: #000000;
}

/* -------------- Coach -------------- */

.userDropdown a {
  font-size: 11px !important;
  letter-spacing: 1px;
}

.userData {
  font-size: 11px;
  letter-spacing: 1px;
}
